.u-section-1 .u-sheet-1 {
  min-height: 664px;
}

.u-section-1 .u-image-1 {
  width: 238px;
  height: 244px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 17px auto 0;
}

.u-section-1 .u-image-2 {
  width: 320px;
  height: 216px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -216px 35px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 243px;
  height: 184px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -226px auto 0 81px;
}

.u-section-1 .u-image-4 {
  width: 263px;
  height: 263px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 125px auto 0 96px;
}

.u-section-1 .u-image-5 {
  width: 433px;
  height: 230px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -230px 137px 57px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 901px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -265px;
    margin-right: 57px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1094px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 205px;
    margin-right: 40px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -411px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 117px;
    margin-left: 20px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 17px;
    margin-right: 17px;
    margin-bottom: 11px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1482px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 292px;
    margin-right: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: -460px;
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: 324px;
    margin-left: auto;
  }

  .u-section-1 .u-image-5 {
    margin-top: 91px;
    margin-right: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1345px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 84px;
  }

  .u-section-1 .u-image-5 {
    height: 181px;
    margin-top: 58px;
    margin-bottom: 58px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}